<div class="container">
    <div id="pdfTable" #pdfTable>
      <h2>Angular HTML To PDF Generator Example - tutsmake.com</h2>
                 
      <table class="table table-bordered">
        <thead>
          <tr style="text-align: right;">
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Website</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: right;">
            <td>Sam</td>
            <td>Sam</td>
            <td>tutsmake.com</td>
            <td>500</td>
          </tr>
          <tr style="text-align: right;">
            <td>john</td>
            <td>dam</td>
            <td>w3school.com</td>
            <td>1500</td>
          </tr>
          <tr style="text-align: right;">
            <td>jonhy</td>
            <td>hid</td>
            <td>geeks.com</td>
            <td>500000</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary" (click)="downloadAsPDF()">Export To PDF</button>
  </div>

  <div class="container-fluid bg-light p-5">
	  <h1 class="display-4">Jumbotron</h1>
	  <p class="lead">This is  a jumbotron created using the bootstrap 5</p>
	  <hr class="my-4">
	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</div>

  <div class="container-fluid bg-light text-light p-5">
    <div class="container bg-light p-5">
        <h1 class="display-4">Welcome to my Website</h1>
        <hr>
        <p>Go to My Website</p>
        <a href="#" class="btn btn-primary">link</a>
    </div>
</div>