<div class="container container-fluid">
  <form [formGroup]="SaleslistForm" autocomplete="off">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="shadow-sm card" style="padding-bottom: 1px; margin-bottom: 8px;">
          <div class="card-body" style="padding-bottom: 2px;">
            <div class="row">
              <div class="col-md-12" style="padding-right: 1px;">
                <div formGroupName="Sales">
                  <div class="col-sm-12">
                    <div class="row no-padding mb-2">
                      <label for="InvoiceNumber"
                        class="col-sm-3 form-label text-right font-weight-light no-padding mt-1">Invoice Number:</label>
                      <div class="col-sm-9">
                        <ng-autocomplete #ngAutoCompleteStatic [data]="Suppliers | async"
                          (selected)='selectEvent($event)' formControlName="InvoiceNumber" id="InvoiceNumber"
                          name="InvoiceNumber" [searchKeyword]="keyword" [placeholder]="placeholder"
                          [minQueryLength]="2" notFoundText="Not found" [itemTemplate]="itemTemplateStatic"
                          [notFoundTemplate]="notFoundTemplate" (inputCleared)="searchCleared()" [debounceTime]="100">
                        </ng-autocomplete>
                        <ng-template #itemTemplateStatic let-item>
                          <a [innerHTML]="item.Name"></a>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                          <div [innerHTML]="notFound"></div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card no-padding">
          <div class="card-header"><i class="fa fa-align-justify"></i> Sales Information</div>
          <div class="card-body no-padding">
            <div class="tableFixHead">
              <div class="table-responsive fix-table font-weight-light">
                <table class="table table-bordered table-sm">
                  <thead class="thead-light text-center">
                    <tr>
                      <th class="">InvoiceNumber</th>
                      <th class="">Slno</th>
                      <th class="">Category</th>
                      <th class="">SubCategory</th>
                      <th class="">Product Description</th>
                      <th class="">Quantity</th>
                      <th class="">UnitPrice</th>
                      <th class="">TotalPrice</th>
                      <th class="">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let list of saleslist; let i = index">
                      <td class="text-right right-padding">{{i+1}}</td>
                      <td>{{list.InvoiceNumber}}</td>
                      <td>{{list.Slno}}</td>
                      <td>{{list.CategoryID}}</td>
                      <td>{{list.SubCategoryID}}</td>
                      <td>{{list.ItemID}}</td>
                      <td>{{list.Quantity}}</td>
                      <td>{{list.UnitPrice}}</td>
                      <td>{{list.TotalPrice}}</td>
                      <td class="no-padding">
                        <button type="button" class="btn btn-sm btn-danger ml-4"
                          (click)="Delete(i, list.InvoiceNumber)"><i class="fa fa-trash" title="Delete"></i></button>
                        <button type="button" class="btn btn-sm btn-info" (click)="openModal(i, list.InvoiceNumber)"><i
                            class="fa fa-pencil" title="Edit"></i></button>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
