
<a (click)="handleMainMenuAction()" class="nav-link font-weight-light" [ngClass]="{active: isMainActive || isOneOfChildrenActive}">
    <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->

    <!-- <i class="nav-icon" [ngClass]="getClass(menuItem.name)" style="color:#DAA82F;"></i> -->
    <i class="nav-icon" [ngClass]="GetClass(menuItem.name)" [ngStyle]="{'color': GetColor(menuItem.name)}"></i>
    <p>{{ menuItem.name }}</p>

    <i *ngIf="isExpandable && menuItem.children.length > 0" class="right fas fa-angle-left"></i>
</a>

<ul class="nav nav-treeview" *ngFor="let item of menuItem.children">
    <li class="nav-item" style="padding-left: 2px;">
        <a [routerLink]="item.path" [routerLinkActive]="'active'" class="nav-link">
            <i class="far fa-circle nav-icon" style="color:#DAA82F;"></i>
            <!-- <i class="far fa-circle nav-icon" style="color:#fff;"></i> -->
            <p>{{ item.name }}</p>
        </a>
    </li>
</ul>
