<!-- <div class="float-right d-none d-sm-block"><b>Version</b> {{ appVersion }}</div>
<strong>
    <span>Copyright &copy; {{ currentYear }}</span>
    <a
        href="https://erdkse.com"
        target="_blank"
        rel="noopener noreferrer"
        style="margin: 0"
    >
        erdkse.com</a
    >
    <span>.</span>
</strong>
<span> All rights reserved.</span> -->


<div class="float-right d-none d-sm-inline-block mr-2">

  Powered by <a href="http://iciclecorporation.com" target="_blank"> <span> <img class="icicle-logo-footer"
        src="../../../assets/originallogo.png" /></span></a>
</div>

<div style="margin-left: 20px;">All rights reserved.</div>

<!-- <footer class="main-footer" style="padding: 2px;">
    <div class="float-right d-none d-sm-inline-block mr-2">
     
      Powered by <a href="http://iciclecorporation.com" target="_blank"> <span> <img class="icicle-logo-footer"
        src="../../../assets/originallogo.png" /></span></a>
    </div>
      
        <div style="margin-left: 20px;">All rights reserved.</div>
    
  </footer> -->
